.loading{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
}
.mainTitle{
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainTitle h1{
    margin: 0;
    
}
.selectorWrapper{
    width: 100vw;
    display: flex;
    
}
@media (max-width: 600px){
    .selectorWrapper{
        flex-direction: column;
    }  
}