* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*::after, *::before{
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0
}
body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
